<div class="jumbotron" id="intro_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3" id="profile_picture_box">
        <%= image_tag( "sage_berg_profile_picture.jpg",
                       :id => "profile_picture",
                       :alt => "Sage Berg profile picture",
                       :class => "img-responsive",
                       :class => "center-block" ) %>
      </div>
      <div class="col-md-3" id="tagline">
        <h1>Sage Berg<h1>
        <p>I like coding, running, and collaborative video games.</p>
      </div>
      <div class="col-md-3">
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</div>

<header id="site_header">
  <button class="site_nav_button" onclick="jumpTo('about_me')">About Me</button>
  <button class="site_nav_button" onclick="jumpTo('other_projects')">Projects</button>
  <button class="site_nav_button" onclick="jumpTo('colors_game')">Color Guessing Game</button>
</header>

<%= render file: "~/sageberg.com/app/views/_about_me" %>

<%= render file: "~/sageberg.com/app/views/_other_projects" %>

<%= render file: "~/sageberg.com/app/views/_colors_game" %>

<script>
  function jumpTo(id) {
    window.location.hash = "#" + id;
    return false;
  }
</script>
