<header class="jumbotron" id="intro_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3" id="profile_picture_box">
        <%= image_tag( "sage_berg_profile_picture.jpg",
                       :id => "profile_picture",
                       :alt => "Sage Berg profile picture",
                       :class => "img-responsive",
                       :class => "center-block" ) %>
      </div>
      <div class="col-md-9" id="about_me">
        <h1>Sage Berg<h1>
        <p>I like coding, running and self-tracking.</p>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</header>

<div class="jumbotron" id="tech_tracking">
  <h2>I built this site on May 22nd, 2016. Since then, I've been tracking the techs I use.</h2>
</div>
