/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

tr {
  height: 64px;
}

#profile_picture {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  text-align: center;
}

#profile_picture_box {

}

#about_me {
  color: white;
}

#intro_section {
  background: #282C34;
}

.jumbotron {
  margin-bottom: 0;
}

.tech_logo {
  width: 50px;
}

#tech_tracking {
  /*text-align: center;*/
}

.section_header {
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.section_title {
  color: #0099ff;
}

.checked_GitHub_style_box {
  @extend .GitHub_style_box;
  background-color: #0099ff;
  &:hover {
    background-color: #0088ee;
  }
}

.blank_GitHub_style_box {
  @extend .GitHub_style_box;
  background-color: #ddd;
  &:hover {
    background-color: #ccc;
  }
}

.GitHub_style_box {
  height: 16px;
  width: 16px;
  margin: 1px;
  display: inline-block;
  float: right;;
}

.GitHub_style_boxes {
  float: left;
}

#colors_game {
  background-color:#282C34;
}

.dot {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border-color: #fff;
  border-width: 5px;
  border-style: solid;
}

#colored_dot {
  @extend .dot;
}

#guess_dot {
  @extend .dot;
  background-color: #fff;
}
