/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

$darkened_my_blue: #0088ee;
$my_blue: #0099ff;
$Atom_grey: #282C34;

header {
  font-size: 0; //hack to remove space between inline elements
}

tr {
  height: 64px; //give table rows minimum height so most will be even
}

.article {
  color: #444;
  margin-bottom: 10px;
}

.blank_GitHub_style_box {
  @extend .GitHub_style_box;
  background-color: #ddd;
  &:hover {
    background-color: #ccc;
  }
}

.checked_GitHub_style_box {
  @extend .GitHub_style_box;
  background-color: #09f;
  &:hover {
    background-color: #08e;
  }
}

.color_game_button {
  margin: 8px;
  width: 256px;
}

.color_game_header {
  color: #fff;
}

.dot {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border-color: #000;
  border-width: 5px;
  border-style: solid;
}

.GitHub_style_box {
  height: 11px;
  width: 11px;
  margin: 1px;
  &:hover {
    border-style: solid;
    border-width: 1px;
  }
}

.GitHub_style_boxes {
}

.GitHub_style_week {
  float: left;
  display: inline-block;
  overflow: hidden;
}

.GitHub_style_week_day_label {
  @extend .GitHub_style_box;
  &:hover {
    border-width: 0px;
  }
  font-size: 60%;
  text-align: center;
}

.GitHub_style_week_day_labels {
  float: left;
  display: inline-block;
  overflow: hidden;
}

.hours_bar {
  background-color: $my_blue;
  border-radius: 4px;
  height: 24px;
  padding: 2px;
}

.jumbotron {
  background-color: #fff;
  margin-bottom: 0;
}

.month_labels {
  height: 14px;
  width: 730px;
}

.month_label {
  float: left;
  height: 11px;
  margin: 1px;
  width: 11px;
  font-size: 80%;
}

.my_iframe {
  border-radius: 10px;
  margin-bottom: 16px;
  height: 750px;
  width: 100%;
}

.section_header {
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.section_title {
  color: #0099ff;
}

.site_nav_button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: #888;
  color: #fff;
  width: 33%;
  height: 64px;
  font-size: 16px;
  overflow: hidden;
  &:hover {
    background-color: #777;
  }
}

.tEnd {
  height: 150px;
  line-height: 150px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  color: #fff;
}

.table {
  min-width: 800px;
}

.tech_logo {
  width: 50px;
}

.white_text {
  color: #fff;
}

#actual_color {
  text-align: center;
  color: #000;
}

#color_game_feedback_section {
  text-align: center;
}

#color_game_inputs {
  margin: 32px;
  text-align: center;
}

#colored_dot {
  @extend .dot;
}

#colors_game {
  background-color: #fff;
}

#data_box {
  @extend .tEnd;
  background-color: #FF9B71;
}

#full_stack {
  @extend .tEnd;
  background-color: $my_blue;
  height: 700px;
}

#guess_dot {
  @extend .dot;
  background-color: #fff;
}

#intro_section {
  background: $Atom_grey
}

#off_by_blue {
  color: blue;
}

#off_by_green {
  color: green;
}

#off_by_red {
  color: red;
}

#ops_box {
  @extend .tEnd;
  background-color: #1B998B;
}

#other_projects {
  background-color: $Atom_grey;
}

#profile_picture {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  text-align: center;
}

#security_box {
  @extend .tEnd;
  background-color: #2D3047;
}

#show_more_techs {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: $my_blue;
  color: #fff;
  font-size: 16px;
  height: 32px;
  width: 256px;
  &:hover {
    background-color: $darkened_my_blue;
  }
}

#site_header {
  min-width: 875px;
}

#tagline {
  color: #fff;
  text-align: center;
}

#tech_hours {
  background: $Atom_grey
}

#tech_tracking {
  background-color: #fff;
}

#ux_box {
  @extend .tEnd;
  background-color: #E84855;
}

#your_guess {
  text-align: center;
  color: #000;
}
