<div class="jumbotron" id="about_me">
  <div class="section_header">
    <h2 class="section_title">About Me</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p class="article">
          I live in the Portland, Oregon area with my fiancée
          <a href="https://www.linkedin.com/in/ericadjohnson2" target="_blank">
            Erica</a>. We're both software developers. When we're not coding,
            we're often cooking or running together.
        </p>
        <h3>Dreams</h3>
        <p class="article">
          I'm building a medieval fantasy video game based around configurable spell
          casting. I'd like to show it to people when I get far enough along.
        </p>
        <h3>Contact</h3>
        <p class="article">
          Feel free to contact me at sagetberg@gmail.com. I make a point of
          responding to people : )
        </p>
        <br>
      </div>
      <div class="col-md-3"></div>
    <div> <!-- end row -->
  </div>
</div>
