<div class="jumbotron" id="about_me">
  <div class="section_header">
    <h2 class="section_title">About Me</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h3>What I do</h3>
        <p class="article">
          I'm a software developer who lives in Portland, Oregon and works at
          <a href="https://www.newrelic.com" target="_blank">New Relic</a>. I
          live with my girlfriend
          <a href="https://www.linkedin.com/in/ericadjohnson2" target="_blank">
            Erica</a>, who is also a software developer. When we're not coding,
            we're often cooking or running together.
        </p>
        <h3>Self-Improvement</h3>
        <p class="article">
          I collect data on many aspects
          of my life from what I eat to what technologies I use each day. The
          data helps direct my self-improvement. I see
          every hour is an opportunity grow, but I don't
          consinder myself a competitive person. I pursue
          self-improvment because it makes me happy.
        </p>
        <h3>Contact</h3>
        <p class="article">
          Feel free to contact me at sagetheberg@gmail.com or on
          <a href="https://www.linkedin.com/in/sageberg" target="_blank">
            LinkedIn</a>. I pride
          myself on responding to anyone who isn't spamming.
        </p>
      </div>
      <div class="col-md-3"></div>
    <div> <!-- end row -->
  </div>
</div>
