<div class="jumbotron" id="about_me">
  <div class="section_header">
    <h2 class="section_title">About Me</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h3>What I do</h3>
        <p class="article">
          I'm a software developer who lives in Portland, Oregon and works at
          <a href="https://www.newrelic.com">New Relic</a>. I live with my
          girlfriend
          <a href="https://www.linkedin.com/in/ericadjohnson2">Erica</a>,
          who is software developer and artist. When we're not coding, we're
          often cooking, running, or backpacking together.
        </p>
        <h3>Attitude</h3>
        <p class="article">
          I'm a positive person who's working to become even more positive.
          Self-tracking is one of my favoriate activities. I record many aspects
          of my life from what I eat to what technologies I use each day. I see
          every hour is an opportunity for self-improvment, but I don't
          consinder myself an ambitious or competative person. I like
          self-improvment because it makes me happy.
        </p>
        <h3>Beliefs</h3>
        <p class="article">
          I try not to have opinions, unless I've invested significant time
          researching and considering an issue. Even then, I'm open to changing
          my mind if better evidence comes my way. I also try my best to live by
          <a href="https://en.wikipedia.org/wiki/Two-level_utilitarianism">
          two-level utilitarianism</a>,
          which makes me do awkward things like obey padestrian traffic
          signals that other people tend to ignore.
        </p>
        <h3>Contact</h3>
        <p class="article">
          Feel free to contact me at sagetheberg@gmail.com or on
          <a href="https://www.linkedin.com/in/sageberg">LinkedIn</a>. I pride
          myself on responding to anyone who isn't spamming.
        </p>
      </div>
      <div class="col-md-3"></div>
    <div> <!-- end row -->
  </div>
</div>
