<div class="jumbotron" id="colors_game">
  <div class="section_header">
    <h2 class="section_title">Color Guessing Game</h2>
  </div>

  <h3 class="color_game_header" id="actual_color">Actual color: #??????</h3>
  <div class="container-fluid" id="colored_dot"></div>

  <h3 class="color_game_header" id="your_guess">Your gusss</h3>
  <div class="container-fluid" id="guess_dot"></div>

  <div id="color_game_inputs">
    <button type="button" class="btn btn-default color_game_button" onclick="guess_color()">Submit Color Guess</button>
    <input id="guess_field" class="color_game_button" placeholder="Color Guess (e.g. 3d66e9)"></input>
    <button type="button" class="btn btn-default color_game_button" onclick="start_color_game()">New Game</button>
  </div>
</div>

<script>
  function componentToHex(c) {
    var hex = c.toString(16);
    return hex.length == 1 ? "0" + hex : hex;
  }

  function rgbToHex(r, g, b) {
    return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
  }

  function random_color() {
    color_string = "#"
    for (var i = 0; i < 6; i++) {
      color_string += Math.floor(Math.random() * 16).toString(16);
    }
    return color_string;
  }

  function guess_color() {
    actual_color = document.getElementById("colored_dot").style.backgroundColor;
    guess = "#" + document.getElementById("guess_field").value;
    document.getElementById("guess_dot").style.backgroundColor = guess;
    rgb = actual_color.replace(/[^\d,]/g, '').split(',');
    r = parseInt(rgb[0])
    g = parseInt(rgb[1])
    b = parseInt(rgb[2])
    document.getElementById("actual_color").innerHTML = "Color: " + rgbToHex(r,g,b);
    document.getElementById("your_guess").innerHTML = "Your guess: " + guess;
  }

  function start_color_game() {
    document.getElementById("guess_dot").style.backgroundColor = "#fff";
    document.getElementById("colored_dot").style.backgroundColor = random_color();
    document.getElementById("guess_field").value = "";
    document.getElementById("actual_color").innerHTML = "Color: #??????";
    document.getElementById("your_guess").innerHTML = "Your guess:";
  }

  start_color_game()
</script>
