<div class="jumbotron" id="colors_game">
  <div class="section_header">
    <h2 class="section_title">Color Guessing Game</h2>
    <p>I built this game to get more intuition for how colors mix together.</p>
  </div>

  <h3 class="color_game_header" id="actual_color">Actual color: #??????</h3>
  <div class="container-fluid" id="colored_dot"></div>

  <h3 class="color_game_header" id="your_guess">Your gusss</h3>
  <div class="container-fluid" id="guess_dot"></div>

  <div id="color_game_inputs">
    <button type="button" class="btn btn-default color_game_button" onclick="guess_color()">Submit Color Guess</button>
    <input id="guess_field" class="color_game_button" placeholder="Color Guess (e.g. 3d66e9)"></input>
    <button type="button" class="btn btn-default color_game_button" onclick="start_color_game()">New Game</button>
  </div>

  <div id="color_game_feedback_section">
    <p id="off_by_red"></p>
    <p id="off_by_green"></p>
    <p id="off_by_blue"></p>
    <p id="off_by"></p>
  </div>
</div>

<script>
  start_color_game()
</script>
