<div class="GitHub_style_week_day_labels">
  <div class="GitHub_style_week_day_label"></div>
  <div class="GitHub_style_week_day_label">M</div>
  <div class="GitHub_style_week_day_label"></div>
  <div class="GitHub_style_week_day_label">W</div>
  <div class="GitHub_style_week_day_label"></div>
  <div class="GitHub_style_week_day_label">F</div>
  <div class="GitHub_style_week_day_label"></div>
</div>
