<% numbers_to_month_abreviations = { 1 => "Jan", 2 => "Feb", 3 => "Mar",
                                     4 => "Apr", 5 => "May", 6 => "Jun",
                                     7 => "Jul", 8 => "Aug", 9 => "Sep",
                                     10 => "Oct", 11 => "Nov", 12 => "Dec"} %>

<div class="month_labels">
  <div class="month_label"></div>
  <% days_back = 365 %>
  <% today = Date.today %>
  <% prev_month = 0 %>
  <% while days_back > 0 %>
    <div class="month_label">
      <% current_day = today - days_back %>
      <% while current_day.monday? == false %>
        <% current_day += 1 %>
      <% end %>
      <% current_month = (current_day).month %>
      <% if prev_month != current_month and current_day.day < 20 %>
        <%= numbers_to_month_abreviations[current_month] %>
        <% prev_month = current_month %>
      <% end %>
    </div>
    <% days_back -= 7 %>
  <% end %>
</div>
