<div class="jumbotron" id="other_projects">
  <div class="section_header">
    <h2 class="section_title">Other Projects</h2>
    <p class="white_text">Here are some games I built with my brother
      <a href="https://www.linkedin.com/in/skylerberg" target="_blank">
        Skyler
      </a> and my girlfriend
      <a href="https://www.linkedin.com/in/ericadjohnson2" target="_blank">
        Erica</a>.
    </p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <iframe src="http://www.stgeorgegame.com" class="my_iframe"
         frameborder="0">
        </iframe>

        <iframe src="http://52.25.246.171" class="my_iframe"
         frameborder="0">
        </iframe>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
