<div class="jumbotron" id="tShapedDeveloper">
  <div class="section_header">
    <h2 class="section_title">I'm working on being a T-shaped developer.</h2>
  </div>
  <div class="container-fluid">
    <span class="text-nowrap">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-1" id="ops_box">
          Operations
        </div>
        <div class="col-md-1" id="security_box">
          Information Security
        </div>
        <div class="col-md-2" id="full_stack">
          Software Development
        </div>
        <div class="col-md-1" id="data_box">
          Data
        </div>
        <div class="col-md-1" id="ux_box">
          User Experience
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </span>
  </div>
</div>
