<div class="jumbotron" id="tech_tracking">

  <div class="section_header">
    <h2 class="section_title">Tools I use</h2>
    <p>I update this list daily to encourage myself to explore.
    </p>
  </div>

  <div class="container">
    <span class="text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Tool</th>
            <th>Usage in the last <%=
              [Tech.box_days, Date.today - Date.new(2016,5,21)].min.ceil %>
              days
            </th>
          </tr>
        <thead>
        <tbody>
          <%= render file: "_tech_calendars" %>
        </tbody>
      </table>
    </span>
    <!-- <button id="show_more_techs" onclick="">Show more tools I use</button> -->
  </div> <!-- end container -->
</div> <!-- end jumbotron -->
